= render :partial => "shared/header_part"
.fotki#current_len{:onclick => "document.location = '/fotki';"}
  %a{:href => "/fotki"}
    %h2.section_title
      T
.resume#current
  %h2.section_title
    Resume

  %h3
    Personal
  %p
    %b
      RUSTAM T. ISMAILOV
    %br/
    DOB: 15-04-1986
    %br/
    Citizenship: Russian Federation
    %br/
    Moscow, Russian Federation
    %br/
    Cell: +7 (909) 656-33-10
    %br/

  %h3
    Objective
  %p
    Looking for a position to utilize my skills and abilities in the Information Technology industry, especially in innovative company, that offers professional grows while being resourceful and flexible.

  %h3
    Education
  %p
    %b
      Baumann Moscow State Technical University
    %br/
    2004&mdash; Expected graduation May 2010
    %br/
    Program: Intellectual Systems
    %br/
    Expected degree: Master of Science
    %br/
    Obtained degree: Bachelor of Science
    %br/
    Main courses: Computer architecture, software modeling, programming (system, web, etc.), data management, security in IT, economics, applied mathematics, a number of humanitarian and physical disciplines.

  %p
    %b
      IT courses in IBM Training Center, Moscow
    %br/
    IBM course DB2 Family Fundamentals, April 2007;
    %br/
    IBM course Introduction to Java Using IBM Rational Application Developer V6., May 2007.

  %h3
    Certifications
  %div{:style => "float: right;"}
    %img{:src=>"/images/cert-info-mgmt_color.gif", :style=>"margin-bottom: 10px; margin-left: 5px;", :alt=>"Certified for IBM Information Management"}
    %br/
    %img{:src=>"/images/c4_soa.gif", :style=>"margin-bottom: 10px; margin-left: 5px;", :alt=>"IBM Certified SOA Associate"}
    %br/
    %img{:src=>"/images/scjp.png", :style=>"margin-bottom: 5px;", :alt=>"Sun Certified Java Programmer (SCJP)"}
    %br/
    %img{:src=>"/images/scwcd.png", :style=>"margin-bottom: 5px;", :alt=>"un certified Web Component Developer (SCWCD)"}

  %p
    %b
      IBM Certified Database Associate</b> . DB2 UDB v8.1 & v9, July 2007
      %br/
      Sun Certified Java Programmer</b> . J2SE 1.4, October 2007
      Sun Certified Web Component Developer</b> . J2EE 1.4, November 2007
      IBM Certified SOA Associate</b>, December 2007

  %h3
    Technical experience
  %p
    1 Year of
    %b
      Ruby & Ruby on Rails
    development (Capistrano, ActiveRecords, AJAX, Mongrail/mod_rails, etc. )
    %br/
    3 Year of
    %b
      Java EE (servlets, JSP, EJB 3, JMS), Spring, Struts, Hibernate, DWR, Portal/portlets, Weblogic, Weblogic portal, Tomcat, Resin 3
    , IntelliJ IDEA, Eclipse (Weblogic workshop/RAD)
    %br/
    3 Years of
    %b
      .NET Framework 2.0, ASP .NET 2.0, C# programming
    %br/
    3 Years of
    %b
      Oracle, derby, DB2 9 Universal Database
    , Microsoft SQL Server 2005 using
    %br/
    5 Years of extensive web development
    %b
      PHP 4/5, MySQL, Apache, XHTML, CSS 2, XML/XSLT
    %br/
    Additional knowledge: UML, C++, Shell programming; Platforms: Windows 2003/2008 Server, Linux, FreeBSD, Mac OS X; Microsoft Office, Adobe Photoshop

  %h3
    Work experience
  %p
    November 2008&mdash;current
    %b
      Senior Java Developer
    %br/
    Jet Infosystems, Moscow, RUSSIA
    %br/

  %p
    December 2007&mdash;October 2008
    %b
      Team lead, Java EE
    %br/
    Argussoft Inc</b> Moscow RUSSIA
    %br/

  %p
    September 2005&mdash;January 2008
    %br/
    %b
      Head of department of web development
    %br/
    %b
      Akcent agency
    Kaluga RUSSIA
    %br/
    Relationships with customers, analysis of requirements, web based applications development, small group of programmers leading, project management. Region and federal scale site making. IT resources management.
   

%br.clear
.blog{:title=>"Publications", :onclick => "document.location = '/publications';"}
  %a{:href => "/publications"}
    %h2.section_title
      B
.contacts#current_wei{:title=>"Contacts", :onclick => "document.location = '/contacts';"}
  %a{:href => "/contacts"}
    %h2.section_title
      Contacts