#title
  %h1#logo.clearfix
    = link_to "&nbsp;", :controller => :index, :action => :fotki
  %div{:style => "float: left; width: 560px;"}
    %p#header_title.clearfix
      Rustam Ismailov
    %br.clear
    = render :partial => "shared/twitter_part"
%br.clear